.h-10{
  height: 10px;
}

.h-20{
  height: 20px;
}

.h-30{
  height: 30px;
}

.h-40{
  height: 40px;
}

.h-50{
  height: 50px;
}

.h-60{
  height: 60px;
}

.h-70{
  height: 70px;
}

.h-80{
  height: 80px;
}

.h-90{
  height: 90px;
}

.h-100{
  height: 100px;
}

.h-200{
  height: 200px;
}

.h-300{
  height: 300px;
}

.h-400{
  height: 400px;
}

.h-500{
  height: 500px;
}

.h-600{
  height: 600px;
}

.h-700{
  height: 700px;
}

.h-800{
  height: 800px;
}

.h-900{
  height: 900px;
}

.h-1000{
  height: 1000px;
}

.hb-10{
  height: 10%;
}

.hb-20{
  height: 20%;
}

.hb-25{
  height: 25%;
}

.hb-30{
  height: 30%;
}

.hb-33{
  height: 33%;
}

.hb-40{
  height: 40%;
}

.hb-50{
  height: 50%;
}

.hb-60{
  height: 60%;
}

.hb-70{
  height: 70%;
}

.hb-80{
  height: 80%;
}

.hb-90{
  height: 90%;
}

.hb-100{
  height: 100%;
}