// 宽高
.wh-30{
    width: 30px;
    height: 30px;
}

.wh-50{
    width: 50px;
   height: 50px;
} 

.wh-100{
    width: 100px;
    height: 100px;
}

// 边框圆角
.br-2{
    border-radius: 2px;
}

.br-3{
    border-radius: 3px;
}

.br-4{
    border-radius: 4px;
}

.br-5{
    border-radius: 5px;
}

.br-6{
    border-radius: 6px;
}

.br-8{
    border-radius: 8px;
}

.br-10{
    border-radius: 10px;
}

.br-12{
    border-radius: 12px;
}

.br-b50{
    border-radius: 50%;
}

// 鼠标样式
.cp{
    cursor: pointer;
}

// 边框
.border-s{
    border-bottom: 1px solid #f7f3f3;
}