.w-100{
    width: 100px;
}

.w-200{
    width: 200px;
}

.w-300{
    width: 300px;
}

.w-400{
    width: 400px;
}

.w-500{
    width: 500px;
}

.w-600{
    width: 600px;
}

.w-700{
    width: 700px;
}

.w-800{
    width: 800px;
}

.w-900{
    width: 900px;
}

.wb-10{
    width: 10%;
}

.wb-20{
    width: 20%;
}

.wb-25{
    width: 25%;
}

.wb-30{
    width: 30%;
}

.wb-33{
    width: 33%;
}

.wb-40{
    width: 40%;
}

.wb-50{
    width: 50%;
}

.wb-60{
    width: 60%;
}

.wb-70{
    width: 70%;
}

.wb-80{
    width: 80%;
}

.wb-90{
    width: 90%;
}

.wb-100{
    width: 100%;
}